body{
    background-color: #FAEAB1; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right,#E5BA73 , #FAEAB1);
}
h1{
    margin-left: 100px;
    font-family: 'Rampart One', cursive;
}
ul{
    margin-left: 50px;
    font-family: 'Bree Serif', serif;
    font-size: 25px;
    list-style-type: none;
}
  
ul li:before {
    content: '';
    display: inline-block;
    height: 20px;
    width: 30px;
    background-size: 20px;
    background-image: url(https://em-content.zobj.net/thumbs/120/samsung/349/bread_1f35e.png);
    background-repeat: no-repeat;
    margin-right: 1px;
}

.imgg{
    float: right;
    height: 350px;
    margin-right: 40px;
    width: 550px;
    margin-top: 70px;
    border-style:solid;
    border-color:#E5BA73;
    border-width: 8px;
    border-radius: 25px;
}
.div1{
    height: auto;
    width: 550px;
    background-color: #FAEAB1;
    border-radius: 25px;
    margin-left: 80px;
    margin-right: 30px;
    filter: drop-shadow(20px 20px 20px gray);
    transition: transform .2s ease;
}
.div1:hover{ transform: scale(1.1);}

.div2{
    height: auto;
    width: 1300px;
    background-color: #FAEAB1;
    border-radius: 25px;
    margin-left: 80px;
    
    filter: drop-shadow(20px 20px 20px gray);
    transition: transform .2s ease;
}
.div2:hover{ transform: scale(1.1);}

